* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  width: 400px;
  background: purple;
  display: flex;
  margin: auto;
}

.container {
  width: 100%;
  padding: 20px;
}

.signup-form {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 30px 30px 10px 0px rgb(48,25,52);
}

.signup-form h2 {
  margin-bottom: 10px;
  text-align: center;
  color: purple;
}

.input-group {
  margin: 15px;
}

.input-group label {
  display: block;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px 2px 0px black;
}

button {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  background: purple;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 8px 8px 2px 0px black;
}

button:hover {
  background: blueviolet;
}

.login-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.login-link a {
  color: purple;
}